# Finding El Paso A New Emerging Market

# Fastest Growing Markets in the US

## Ocupation Data

### Occupational projections, 2023—2033

In [3]:
import pandas as pd
import numpy as np  

# Path to file 
file_path = "C:/Users/CantuCT/Documents/AI proposals/Emerging_Market/data/occupation.xlsx"

# Load table 1.2
df = pd.read_excel(file_path, sheet_name='Table 1.2', header=1)

# # Setting first row as header 
# df.columns =df.loc[0]
# df = df[1:].reset_index(drop=True)

df

,2023 National Employment Matrix title,2023 National Employment Matrix code,Occupation type,"Employment, 2023","Employment, 2033","Employment distribution, percent, 2023","Employment distribution, percent, 2033","Employment change, numeric, 2023-33","Employment change, percent, 2023-33","Percent self employed, 2023","Occupational openings, 2023-33 annual average","Median annual wage, dollars, 2024[1]",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation,Related Occupational Outlook Handbook (OOH) content
0,"Total, all occupations",00-0000,Summary,167849.8,174589.0,100.0,100.0,6739.2,4.0,5.8,19174.8,49500,—,—,—,—
1,Management occupations,11-0000,Summary,13181.3,14140.9,7.9,8.1,959.6,7.3,15.1,1160.0,122090,—,—,—,—
2,Top executives,11-1000,Summary,3977.7,4206.7,2.4,2.4,229.0,5.8,2.7,346.5,104990,—,—,—,—
3,Chief executives,11-1011,Line item,313.9,331.1,0.2,0.2,17.2,5.5,28.1,23.0,206420,Bachelor's degree,5 years or more,None,OOH Content
4,General and operations managers,11-1021,Line item,3630.1,3840.5,2.2,2.2,210.4,5.8,0.5,320.8,102950,Bachelor's degree,5 years or more,None,OOH Content
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112,"Material moving workers, all other",53-7199,Line item,26.5,27.6,0.0,0.0,1.2,4.4,6.8,3.0,41690,No formal educational credential,None,Short-term on-the-job training,—
1113,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1114,[1] Data are from the Occupational Employment ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1115,Note: Data is unavailable for values denoted w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  Fastest growing occupations, 2023 and projected 2033

In [5]:
# Load table 1.3
df2 = pd.read_excel(file_path, sheet_name='Table 1.3', header=1)

df2

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023-33","Employment change, percent, 2023-33","Median annual wage, dollars, 2024[1]"
0,"Total, all occupations",00-0000,167849.8,174589.0,6739.2,4.0,49500.0
1,Wind turbine service technicians,49-9081,11.4,18.2,6.8,60.1,62580.0
2,Solar photovoltaic installers,47-2231,25.0,37.0,12.0,48.0,51860.0
3,Nurse practitioners,29-1171,292.5,427.9,135.5,46.3,129210.0
4,Data scientists,15-2051,202.9,276.0,73.1,36.0,112590.0
5,Information security analysts,15-1212,180.7,239.8,59.1,32.7,124910.0
6,Medical and health services managers,11-9111,562.7,723.3,160.6,28.5,117960.0
7,Physician assistants,29-1071,153.4,197.1,43.7,28.5,133260.0
8,Computer and information research scientists,15-1221,36.6,46.0,9.4,25.6,140910.0
9,Physical therapist assistants,31-2021,108.5,136.0,27.5,25.4,65510.0
10,Operations research analysts,15-2031,123.3,151.6,28.3,23.0,91290.0
11,Occupational therapy assistants,31-2011,47.5,58.1,10.6,22.3,68340.0
12,Actuaries,15-2011,30.2,36.8,6.6,21.8,125770.0
13,Financial examiners,13-2061,65.5,79.2,13.8,21.0,90400.0
14,Home health and personal care aides,31-1120,3961.9,4782.4,820.5,20.7,34900.0
15,Veterinary assistants and laboratory animal ...,31-9096,118.2,141.1,22.9,19.4,37320.0
16,Veterinary technologists and technicians,29-2056,125.7,150.0,24.3,19.3,45980.0
17,Logisticians,13-1081,237.1,282.9,45.8,19.3,80880.0
18,Veterinarians,29-1131,88.2,105.0,16.8,19.1,125510.0
19,"Substance abuse, behavioral disorder, and me...",21-1018,449.8,534.3,84.5,18.8,59190.0
20,Epidemiologists,19-1041,11.0,13.1,2.1,18.8,83980.0
21,"Health specialties teachers, postsecondary",25-1071,284.2,337.5,53.3,18.8,105620.0
22,Speech-language pathologists,29-1127,180.8,214.1,33.3,18.4,95410.0
23,Medical equipment repairers,49-9062,67.0,79.3,12.3,18.4,62630.0
24,Software developers,15-1252,1692.1,1995.7,303.7,17.9,133080.0
25,"Nursing instructors and teachers, postsecondary",25-1072,89.9,105.9,16.1,17.9,79940.0
26,Massage therapists,31-9011,147.1,173.2,26.0,17.7,57950.0
27,Computer and information systems managers,11-3021,613.5,720.4,106.9,17.4,171200.0
28,Industrial machinery mechanics,49-9041,429.5,503.3,73.8,17.2,63760.0
29,Personal financial advisors,13-2052,321.0,375.9,55.0,17.1,102140.0
30,Psychiatric technicians,29-2053,124.6,145.8,21.3,17.1,42590.0
31,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN
32,[1] Data are from the Occupational Employment ...,NaN,NaN,NaN,NaN,NaN,NaN
33,Note: Data is unavailable for values denoted w...,NaN,NaN,NaN,NaN,NaN,NaN
34,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN,NaN

###  Occupations with the most job growth, 2023 and projected 2033

In [6]:
# Load table 1.4
df3 = pd.read_excel(file_path, sheet_name='Table 1.4', header=1)

df3

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023-33","Employment change, percent, 2023-33","Median annual wage, dollars, 2024[1]"
0,"Total, all occupations",00-0000,167849.8,174589.0,6739.2,4.0,49500.0
1,Home health and personal care aides,31-1120,3961.9,4782.4,820.5,20.7,34900.0
2,Software developers,15-1252,1692.1,1995.7,303.7,17.9,133080.0
3,"Cooks, restaurant",35-2014,1434.2,1678.6,244.5,17.0,36830.0
4,Fast food and counter workers,35-3023,3734.1,3946.5,212.5,5.7,30480.0
5,General and operations managers,11-1021,3630.1,3840.5,210.4,5.8,102950.0
6,Registered nurses,29-1141,3300.1,3497.3,197.2,6.0,93600.0
7,Stockers and order fillers,53-7065,2864.7,3033.3,168.6,5.9,37090.0
8,Medical and health services managers,11-9111,562.7,723.3,160.6,28.5,117960.0
9,Financial managers,11-3031,837.1,975.3,138.3,16.5,161700.0
10,Nurse practitioners,29-1171,292.5,427.9,135.5,46.3,129210.0
11,"Laborers and freight, stock, and material mo...",53-7062,3004.8,3130.6,125.7,4.2,38940.0
12,Medical assistants,31-9092,783.9,901.9,118.0,15.0,44200.0
13,Construction laborers,47-2061,1401.2,1516.6,115.4,8.2,46730.0
14,Management analysts,13-1111,1018.3,1126.2,107.9,10.6,101190.0
15,Computer and information systems managers,11-3021,613.5,720.4,106.9,17.4,171200.0
16,Heavy and tractor-trailer truck drivers,53-3032,2211.3,2313.4,102.0,4.6,57440.0
17,Light truck drivers,53-3033,1092.6,1188.9,96.3,8.8,44140.0
18,Accountants and auditors,13-2011,1562.0,1653.4,91.4,5.8,81680.0
19,"Substance abuse, behavioral disorder, and me...",21-1018,449.8,534.3,84.5,18.8,59190.0
20,Electricians,47-2111,779.8,864.1,84.3,10.8,62350.0
21,"Maintenance and repair workers, general",49-9071,1616.5,1698.3,81.8,5.1,48620.0
22,First-line supervisors of food preparation a...,35-1012,1211.4,1288.2,76.8,6.3,42010.0
23,"Janitors and cleaners, except maids and hous...",37-2011,2431.6,2507.3,75.8,3.1,35930.0
24,Market research analysts and marketing speci...,13-1161,903.4,978.3,74.9,8.3,76950.0
25,Human resources specialists,13-1071,933.7,1007.9,74.2,7.9,72910.0
26,Industrial machinery mechanics,49-9041,429.5,503.3,73.8,17.2,63760.0
27,"Managers, all other",11-9199,1282.5,1356.2,73.7,5.7,136550.0
28,Data scientists,15-2051,202.9,276.0,73.1,36.0,112590.0
29,Project management specialists,13-1082,973.6,1043.4,69.9,7.2,100750.0
30,Bartenders,35-3011,734.3,798.9,64.5,8.8,33530.0
31,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN
32,[1] Data are from the Occupational Employment ...,NaN,NaN,NaN,NaN,NaN,NaN
33,Note: Data is unavailable for values denoted w...,NaN,NaN,NaN,NaN,NaN,NaN
34,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN,NaN

## Industry Data

###  Industries with the fastest growing wage and salary employment

In [ ]:
# Path to file 
file_path2 = "C:/Users/CantuCT/Documents/AI proposals/Emerging_Market/data/industry.xlsx"

# Load table 2.3
df4 = pd.read_excel(file_path2, sheet_name='Table 2.3', header=1)

df4

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023–33","Employment change, percent, 2023–33"
0,Total employment,TE1000,167849.8,174589.0,6739.2,4.0
1,Solar electric power generation,221114,12.9,48.6,35.7,275.9
2,Wind electric power generation,221115,9.3,20.0,10.7,115.1
3,Other electric power generation,221118,4.0,5.8,1.8,46.5
4,Geothermal electric power generation,221116,1.3,1.8,0.5,42.1
5,Other electrical equipment and component man...,335900,164.8,227.0,62.2,37.7
6,Offices of mental health practitioners (exce...,621330,203.6,262.3,58.7,28.8
7,Services for the elderly and persons with di...,624120,2313.4,2927.1,613.7,26.5
8,"Offices of physical, occupational and speech...",621340,469.7,590.2,120.5,25.6
9,Beverage manufacturing,312100,324.3,405.1,80.8,24.9
10,Outpatient mental health and substance abuse...,621420,294.1,359.8,65.7,22.3
11,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN

###  Industries with the largest wage and salary employment growth

In [8]:
# Load table 2.5
df5 = pd.read_excel(file_path2, sheet_name='Table 2.5', header=1)

df5

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023–33","Employment change, percent, 2023–33"
0,Total employment,TE1000,167849.8,174589.0,6739.2,4.0
1,Services for the elderly and persons with di...,624120,2313.4,2927.1,613.7,26.5
2,Computer systems design and related services,541500,2500.1,2987.7,487.6,19.5
3,Home healthcare services,621600,1627.2,1952.5,325.3,20.0
4,Offices of physicians,621100,2920.8,3170.2,249.4,8.5
5,General medical and surgical hospitals; private,62210P,4886.3,5123.7,237.4,4.9
6,"Management, scientific, and technical consul...",541600,1867.3,2102.3,235.0,12.6
7,Full-service restaurants,722511,5355.4,5575.6,220.2,4.1
8,Management of companies and enterprises,551000,2558.1,2750.2,192.1,7.5
9,"Securities, commodity contracts, and other f...",523000,1072.1,1260.1,188.0,17.5
10,Continuing care retirement communities and a...,623300,943.9,1082.5,138.6,14.7
11,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN

###  Industries with the fastest growing output

In [9]:
# Load table 2.7
df6 = pd.read_excel(file_path2, sheet_name='Table 2.7', header=1)

df6

,Industry description,Sector,2022 NAICS,"Output, 2023","Output, 2033","Employment change, numeric, 2023–33","Compound annual rate of change, 2023–33"
0,Software publishers,Information,5132.0,530.6,924.7,394.1,5.7
1,"Computing infrastructure providers, data proce...",Information,518.0,405.8,608.6,202.7,4.1
2,Oil and gas extraction,"Mining, quarrying, and oil and gas extraction",211.0,359.4,521.4,162.0,3.8
3,Home healthcare services,Healthcare and social assistance,6216.0,106.6,152.7,46.2,3.7
4,Offices of physicians,Healthcare and social assistance,6211.0,586.1,805.1,219.0,3.2
5,Semiconductor and other electronic component m...,Manufacturing,3344.0,139.5,191.2,51.7,3.2
6,Outpatient care centers,Healthcare and social assistance,6214.0,193.5,263.5,70.1,3.1
7,"Management, scientific, and technical consulti...",Professional and business services,5416.0,488.1,664.2,176.1,3.1
8,Individual and family services,Healthcare and social assistance,6241.0,136.5,184.8,48.3,3.1
9,Medical and diagnostic laboratories,Healthcare and social assistance,6215.0,79.9,108.2,28.3,3.1
10,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN,NaN

###  Industries with the largest output growth

In [10]:
# Load table 2.9
df7 = pd.read_excel(file_path2, sheet_name='Table 2.9', header=1)

df7

,Industry description,Sector,2022 NAICS,"Output, 2023","Output, 2033","Employment change, numeric, 2023–33","Compound annual rate of change, 2023–33"
0,Wholesale trade,Wholesale trade,42,2090.5,2666.4,576.0,2.5
1,Real estate,Financial activities,531,2026.2,2485.6,459.4,2.1
2,"All other retail trade (444, 449, 456-9)",Retail trade,"444, 449, 456, 457, 458, 459",1262.9,1697.2,434.3,3.0
3,Software publishers,Information,5132,530.6,924.7,394.1,5.7
4,Hospitals; private,Healthcare and social assistance,622,953.2,1228.4,275.2,2.6
5,Telecommunications,Information,517,701.6,947.1,245.5,3.0
6,Construction,Construction,23,1606.3,1848.2,241.9,1.4
7,Computer systems design and related services,Professional and business services,5415,761.6,988.8,227.3,2.6
8,Offices of physicians,Healthcare and social assistance,6211,586.1,805.1,219.0,3.2
9,Management of companies and enterprises,Professional and business services,55,779.9,991.4,211.4,2.4
10,"Source: Employment Projections program, U.S. B...",NaN,NaN,NaN,NaN,NaN,NaN